@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&family=Mrs+Saint+Delafield&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stalemate&display=swap');
@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-jost: "Jost", sans-serif;
  --font-lobster: "Lobster", sans-serif;
  --font-mrs-saint-delafield: "Mrs Saint Delafield", cursive;
  --font-playfair: "Playfair", serif;
  --font-poppins: "Poppins", sans-serif;
  --font-stalemate: "Stalemate", cursive;
}

html{
  @apply overflow-x-hidden scroll-smooth;
}


body{
  @apply bg-[#0F0B08] text-[#F5F3EF] font-poppins tracking-wider;
}
 
.container{
  @apply max-w-7xl mx-auto;
}

section{
  @apply py-0 md:py-20;
} 
h1{
  @apply text-4xl md:text-5xl lg:text-5xl font-extrabold leading-tight;
}

h2{
  @apply text-4xl md:text-4xl lg:text-4xl font-extrabold leading-tight;
}

h3{
  @apply text-xl md:text-2xl lg:text-3xl font-bold;
}

.nav-link{
  @apply text-sm lg:text-base font-semibold tracking-wide; 
}

.nav-link:hover{
  @apply text-[#fca400] ;
}

.active{
  @apply text-[#fca400];
}

.btn{
  @apply border border-[#fca400] bg-[#914400] rounded-md px-6 py-3 text-sm md:text-base duration-300;
}


.btn span{
  @apply font-bold;
}

.btn:hover{
  @apply opacity-90 scale-102 translate-y-1 ;
}

.btn_outline{
  @apply bg-transparent;
}

.btn_outline:hover{
  @apply bg-[#914400];
}

@keyframes move {
  50% {
    transform: translateY(-1rem);
  }
}

.moving {
  animation: move 3s linear infinite;
}

.title{
  @apply  font-jost text-yellow-500; 
}

.popularcard:hover img{
  @apply -top-8;
}


.swiper-pagination-bullet {
  @apply bg-amber-400 w-3 h-3;
}

.swiper-pagination {
  bottom: -2rem !important;
  z-index: 10;
  margin-top: 2rem;
}